# Ignore local environment variables
.env

# Ignore backup and sensitive folders
bckup/

# Node modules and build output
node_modules/
dist/

# Log files
*.log

# OS and IDE system files
.DS_Store
.vscode/
